<a href="https://colab.research.google.com/github/VUKHACTAO/MH_2023/blob/main/Lab_3_20130399_VUKHACTAO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Deadline: 23:59, 04/03/2023**

# Task 1. 
The main aim of this task is to get familiar with the tasks of preprocessing data using Scikit-learn â€“ a Python-based Machine Learning framework and Linear Regression.

For given 2 datasets (preprocessing_weather.csv, preprocessing_salary_dummy.csv), 
*   Identify issues with these datasets
*   Then, apply preprocessing techniques to the datasets

#Task 1.1. Dataset preprocessing_weather.csv

**Issues**:


1.   List item
2.   List item
3.   List item
4.   List item
....

**Preprocessing dataset**:

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/Lab_3'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/Lab_3

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [ ]:


data = pd.read_csv("preprocessing_weather.csv")
data2 = pd.read_csv("preprocessing_salary_dummy.csv")
data.head(10)

   id   outlook temperature humidity  windy play
0   1     sunny          85       85  False   no
1   2     sunny          80       90   True   no
2   3  overcast          83       86  False  yes
3   4     rainy       NaN         96  False  yes
4   5     rainy          68       80  False  yes
5   6     rainy          65       70   True   no
6   7  overcast          64       65   True  yes
7   8     sunny          72       95  False   no
8   9     sunny          69    NaN    False  yes
9  10     rainy          75       80  False  yes

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy ='mean')
X= data.iloc[:,2:4].values
imputer.fit_transform(X)

array([[85.        , 85.        ],
       [80.        , 90.        ],
       [83.        , 86.        ],
       [73.84615385, 96.        ],
       [68.        , 80.        ],
       [65.        , 70.        ],
       [64.        , 65.        ],
       [72.        , 95.        ],
       [69.        , 82.53846154],
       [75.        , 80.        ],
       [75.        , 70.        ],
       [72.        , 90.        ],
       [81.        , 75.        ],
       [71.        , 91.        ]])

#Task 1.2. Dataset preprocessing_salary_dummy.csv

**Issues**:


1.   List item
2.   List item
3.   List item
4.   List item
....

**Preprocessing dataset**:

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy ='most_frequent')
X= data2.iloc[:,2:3].values
Y= data2.iloc[:,3:4].values
a=imputer.fit_transform(X)
b=imputer.fit_transform(Y)
print(a,b)

[[44.]
 [27.]
 [30.]
 [38.]
 [40.]
 [35.]
 [27.]
 [48.]
 [50.]
 [37.]] [[72000.]
 [48000.]
 [54000.]
 [61000.]
 [48000.]
 [58000.]
 [52000.]
 [79000.]
 [83000.]
 [67000.]]

# **Task 2**. Simple Linear Regression in Scikit-Learn
---
# **Usage:**
> **Step 1**: build a model
![image.png]()

> **Step 2**: test the model

*   With test set:
`y_pred = regressor.predict(X_test)`

*   With a single value ("predict" method always expects a 2D array as the format of its inputs)
`regressor.predict([[12]])`

> **Step 3**: 
*   get w0, w1 , w2, â€¦,
-- W0: `regressor.intercept_`
-- w1, w2, â€¦: `regressor.coef_`
*   R^2 score: sum of squared r(i)
`r(i) = y(i) - f(x(i))`: residual of ith instance


> **Metrics**:
*   metrics.explained_variance_score(y_test, y_pred)
*   metrics.mean_absolute_error(y_ test, y_pred) 
*   metrics.mean_squared_error(y_ test, y_pred[, ...])
*   metrics.mean_squared_log_error(y_ test, y_pred)
*   metrics.median_absolute_error(y_ test, y_pred)
*   metrics.r2_score(y_ test, y_pred[, ...])



---

# Tasks
The main aim of these tasks is to get familiar with Linear Regression problems. Apply LinearRegression to the following datasets. Note the error obtained and coefficients
*   **dataset1.csv** - a synthetic dataset including 5 points (1-dimensional data) with one target
*   **dataset2.csv** - a synthetic dataset including 1000 points (3-dimensional data) with one target variable. The variables are named x1, x2, x3, y. y is the variable to be regressed. Split the dataset into training set and test set (70% for training set and 30% for test set).

# Task 2.1. dataset1.csv

In [ ]:
from sklearn import metrics
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [ ]:
dataset= pd.read_csv("dataset1.csv")
dataset.head(10)

   x  y
0  1  1
1  2  3
2  4  3
3  3  2
4  5  5

In [ ]:

x_train=dataset.iloc[:,0:1].values
y_train=dataset.iloc[:,1:2].values
regressor.fit(x_train,y_train)
y_pred = regressor.predict(x_train)
# w0 =regressor.intercept_
# wi=regressor.coef_
# print("w0",w0)
# print("wi",wi)
metrics.r2_score(y_train, y_pred)

0.7272727272727273

# Task 2.2. dataset2.csv

In [ ]:
#code

# Task 2.3. Apply LinearRegression to the following dataset:
*   Red wine quality: https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv . The dataset includes info about the chemical properties of different types of wine and how they relate to overall quality.

In [ ]:
#code

# Task 2.4. Apply LinearRegression to the following dataset:
*   Energy efficiency: https://archive.ics.uci.edu/ml/datasets/Energy+efficiency.

In [ ]:
#code

# Finally,
Save a copy in your Github. Remember renaming the notebook.